<main class="l-tp-container">
   <section class="l-tp-container-content l-tp-container-content--full-responsive l-tp-container-content--tclayer">
   </section>
   <section class="l-tp-container-content">
   </section>
   <section class="l-tp-container-content">
      <div class="g-tp-row">
         <div class="g-tp-column g-tp-column--first g-tp-column--full">
            <div class="m-tp-base">
               <div class="m-tp-base-row">
                  <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--full">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="id3d7" class="g-tp-row">
         <div class="g-tp-column g-tp-column--first g-tp-column--full">
            <div class="m-tp-base">
               <div class="m-tp-base-row">
                  <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--full">
                     <h1 class="c-tp-headline">Tchibo Family Circle</h1>
                     <div class="c-tp-copytext">
                        <strong>Dear Mr./Mrs. Schmidt,</strong><br>welcome to our new feature, that helps to do a
                        perfect match of presents upon a specific date or occassion for your beloved people.
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="g-tp-row">
         <div class="g-tp-column g-tp-column--first g-tp-column--full">
            <div class="m-tp-base">
               <div class="m-tp-base-row">
                  <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--full">
                     <div *ngIf="!familyMembers" class="c-tp-copytext">
                        <strong>You haven't defined your family circle yet.</strong>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="g-tp-row">
         <div class="g-tp-column g-tp-column--first g-tp-column--full">
            <div class="m-tp-base">
               <div class="m-tp-base-row">
                  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="familyMembers">
                     <thead>
                        <tr>
                           <th>Relation</th>
                           <th>Name</th>
                           <th>Date of birth</th>
                           <th>Occasions</th>
                           <th>Size</th>
                           <th>Interests</th>
                           <th></th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let member of familyMembers">
                           <td>{{ member.type }}</td>
                           <td>{{ member.name }}</td>
                           <td>{{ member.dateOfBirth.substring(0, 10) }}</td>
                           <td> <span class="occasion" *ngFor="let occasion of member.occasions"> {{ occasion.name }} </span></td>
                           <td> <span class="size" *ngFor="let size of member.sizes"> {{ size }} </span></td>
                           <td> <span class="interest" *ngFor="let interest of member.interests"> {{ interest }} </span></td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>

      <div class="g-tp-row">
         <div class="g-tp-column g-tp-column--first g-tp-column--full">
            <div class="m-tp-base">
               <div class="m-tp-base-row">
                  <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--two-thirds">
                     <div class="c-tp-copytext">
                        <strong>Meine Kundennummer:</strong> <strong>9619875785</strong>
                     </div>
                  </div>
                  <div class="m-tp-base-column m-tp-base-column--third">
                     <a href="https://www.tchibo.de/?x=H4sIAAAAAAAAAAGiAF3_ETMsDgAAAXc2OWwxABRBRVMvQ0JDL1BLQ1M1UGFkZGluZwCAABAAEBL3wsEpRjDlMcoSG6972L0AAABQ5pennV3B3SODc549O4n3ZocVAVyiCJRwuNnw3jEtMCgm30Pi81HGIhadYoXy-kxMhZgaBW7Nnz0ZxfjX2RCrZ-zD-tSzJEMbYxEZ337FYyUAFNFNCwpeeu2j879-XIYcqJzZdPiW277TgqIAAAA%3D"
                        class="c-tp-simplebutton">
                        <span class="c-tp-simplebutton-text">Abmelden</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="g-tp-row">
         <div class="g-tp-column g-tp-column--first g-tp-column--full">
            <div class="m-tp-base">
               <div class="m-tp-base-row">
                  <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--full">
                     <div class="c-tp-separatorline002">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section class="l-tp-container-content">
      <div id="smagFootnote" class="footer footnotePanel">
      </div>
   </section>
</main>