span.occasion{
    border: 1px solid #2259ab;
    padding: 5px;
    border-radius: 25px;
}

span.size{
    border: 1px solid #2259ab;
    padding: 5px;
    border-radius: 25px;
}

span.interest{
    border: 1px solid #2259ab;
    padding: 5px;
    border-radius: 25px;
}