<footer class="l-tp-container">
   <section class="l-tp-container-content">
      <div class="huml_content_2000000000718314">
         <div class="l-tp-footer">
            <div class="l-tp-footer-gray">
               <div class="l-tp-footer-content">
                  <div class="g-tp-row g-tp-row--flex">
                     <div class="g-tp-column g-tp-column--full">
                        <div class="m-tp-base m-tp-base--centered">
                           <div class="m-tp-base-row">
                              <div class="m-tp-base-column--full">
                                 <p class="c-tp-headline">Unsere Services</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="g-tp-row">
                     <div class="g-tp-column g-tp-column--full">
                        <div class="m-tp-base">
                           <div class="m-tp-base-row">
                              <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--quarter ">
                                 <i class="c-tp-icon c-tp-icon--150 c-tp-icon--easy-pay c-tp-icon--easy_pay"></i>
                                 <div class="c-tp-headline c-tp-headline--60 c-tp-headline--arrow">
                                    <a href="https://www.tchibo.de/faq-s400109201.html">Einfache &amp; sichere
                                       Zahlung</a>
                                 </div>
                              </div>
                              <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--quarter ">
                                 <i
                                    class="c-tp-icon c-tp-icon--150 c-tp-icon--free-shipping c-tp-icon--free_shipping"></i>
                                 <div class="c-tp-headline c-tp-headline--60 c-tp-headline--arrow">
                                    <a href="/faq-s400109201.html?question=68238&amp;title=Wie+hoch+sind+die+Versandkosten+und+wann+ist+meine+Lieferung+versandkostenfrei%3F"
                                       data-click-tracking="%7B%22hunter%22%3A%22clickout_null%22%2C%22ga%22%3Anull%7D">Lieferung
                                       &amp; Retoure</a>
                                 </div>
                              </div>
                              <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--quarter ">
                                 <i
                                    class="c-tp-icon c-tp-icon--150 c-tp-icon--branch-store c-tp-icon--branch_store"></i>
                                 <div class="c-tp-headline c-tp-headline--60 c-tp-headline--arrow">
                                    <a href="https://www.tchibo.de/filialabholung-s400094638.html">Filialabholung</a>
                                 </div>
                              </div>
                              <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--quarter ">
                                 <i
                                    class="c-tp-icon c-tp-icon--150 c-tp-icon--30day-return c-tp-icon--30day_return"></i>
                                 <div class="c-tp-headline c-tp-headline--60 c-tp-headline--arrow">
                                    <a href="/faq-s400109201.html?question=61242&amp;title=Wie+lange+ist+die+Widerrufs-+bzw.+R%C3%BCckgabefrist+f%C3%BCr+ein+Tchibo+Produkt%3F"
                                       data-click-tracking="%7B%22hunter%22%3A%22clickout_null%22%2C%22ga%22%3Anull%7D">30
                                       Tage Rückgaberecht</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="g-tp-row">
                     <div class="g-tp-column g-tp-column--full">
                        <div class="m-tp-base">
                           <div class="m-tp-base-row">
                              <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--quarter">
                                 <ul class="c-tp-linklist c-tp-linklist--">
                                    <li><a href="/faq-s400109201.html?question=61501&amp;title=Wie+erhalte+ich+die+Rechnung+zu+meiner+Bestellung%3F"
                                          data-click-tracking="%7B%22hunter%22%3A%22clickout_null%22%2C%22ga%22%3Anull%7D">Rechnung</a>
                                    </li>
                                    <li><a href="/faq-s400109201.html?question=65661&amp;title=Wie+kann+ich+f%C3%BCr+die+Zukunft+eine+Einzugserm%C3%A4chtigung+erteilen%3F"
                                          data-click-tracking="%7B%22hunter%22%3A%22clickout_null%22%2C%22ga%22%3Anull%7D">Bankeinzug</a>
                                    </li>
                                    <li><a href="/faq-s400109201.html?question=61258&amp;title=Welche+Zahlarten+kann+ich+bei+meinem+Kauf+in+der+Tchibo+Filiale+nutzen%3F"
                                          data-click-tracking="%7B%22hunter%22%3A%22clickout_null%22%2C%22ga%22%3Anull%7D">Barzahlung
                                          (Filiale)</a></li>
                                    <li><a href="/faq-s400109201.html?question=57664&amp;title=Warum+wird+mir+nur+Zahlung+per+Vorauskasse%2C+PayPal+oder+Kreditkarte+angeboten%3F"
                                          data-click-tracking="%7B%22hunter%22%3A%22clickout_null%22%2C%22ga%22%3Anull%7D">Vorauskasse</a>
                                    </li>
                                    <li><a href="/faq-s400109201.html?question=65438&amp;title=Ist+eine+Ratenzahlung+m%C3%B6glich%3F+"
                                          data-click-tracking="%7B%22hunter%22%3A%22clickout_null%22%2C%22ga%22%3Anull%7D">Ratenzahlung</a>
                                    </li>
                                 </ul>
                              </div>
                              <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--quarter">
                                 <ul class="c-tp-linklist c-tp-linklist--">
                                    <li><a href="/faq-s400109201.html?question=68238&amp;title=Wie+hoch+sind+die+Versandkosten+und+wann+ist+meine+Lieferung+versandkostenfrei%3F"
                                          data-click-tracking="%7B%22hunter%22%3A%22clickout_null%22%2C%22ga%22%3Anull%7D">Versandkosten</a>
                                    </li>
                                    <li><a href="/faq-s400109201.html?question=70043&amp;title=Wie+kann+ich+einen+Artikel+zur%C3%BCckgeben+bzw.+retournieren%3F"
                                          data-click-tracking="%7B%22hunter%22%3A%22clickout_null%22%2C%22ga%22%3Anull%7D">kostenlos
                                          zurückgeben</a></li>
                                    <li><a href="/faq-s400109201.html?question=61231&amp;title=Wie+lange+dauert+eine+Standard-Lieferung%3F"
                                          data-click-tracking="%7B%22hunter%22%3A%22clickout_null%22%2C%22ga%22%3Anull%7D">Lieferzeit
                                          2-3 Werktage</a></li>
                                    <li><a href="/faq-s400109201.html?question=68563&amp;title=Welche+Lieferarten+bietet+Tchibo%3F"
                                          data-click-tracking="%7B%22hunter%22%3A%22clickout_null%22%2C%22ga%22%3Anull%7D">Lieferung
                                          &amp; Retoure durch Hermes &amp; DHL</a></li>
                                 </ul>
                              </div>
                              <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--quarter">
                                 <ul class="c-tp-linklist c-tp-linklist--">
                                    <li><a href="/filialabholung-s400094638.html#click-and-collect"
                                          data-click-tracking="%7B%22hunter%22%3A%22clickout_null%22%2C%22ga%22%3Anull%7D">Click
                                          &amp; Collect</a></li>
                                    <li><a href="/filialabholung-s400094638.html#filialreservierung"
                                          data-click-tracking="%7B%22hunter%22%3A%22clickout_null%22%2C%22ga%22%3Anull%7D">Filialreservierung</a>
                                    </li>
                                    <li><a href="/filialfinder"
                                          data-click-tracking="%7B%22hunter%22%3A%22clickout_null%22%2C%22ga%22%3Anull%7D">Filialfinder</a>
                                    </li>
                                 </ul>
                              </div>
                              <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--quarter">
                                 <ul class="c-tp-linklist c-tp-linklist--">
                                    <li><a href="/faq-s400109201.html?question=61252&amp;title=Wie+reklamiere+ich+einen+defekten+Artikel%3F"
                                          data-click-tracking="%7B%22hunter%22%3A%22clickout_null%22%2C%22ga%22%3Anull%7D">Reklamation</a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                           <div class="m-tp-base-row">
                              <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--quarter">
                                 <img src="https://www.tchibo.de/newmedia/page/img/bc39b22fbc2e30bf/mastercard.svg"
                                    alt="MasterCard"
                                    class="c-tp-fleximage c-tp-fleximage--30 h-tp-displayinline js-tp-imagelazy--loaded"
                                    data-src="/newmedia/page/img/bc39b22fbc2e30bf/mastercard.svg" data-lazyload="true">
                                 <img src="https://www.tchibo.de/newmedia/page/img/b2d9b22fbc2e30bf/visa.svg" alt="Visa"
                                    class="c-tp-fleximage c-tp-fleximage--30 h-tp-displayinline js-tp-imagelazy--loaded"
                                    data-src="/newmedia/page/img/b2d9b22fbc2e30bf/visa.svg" data-lazyload="true">
                                 <img src="https://www.tchibo.de/newmedia/page/img/b829b22fbc2e30bf/paypal.svg"
                                    alt="PayPal"
                                    class="c-tp-fleximage c-tp-fleximage--30 h-tp-displayinline js-tp-imagelazy--loaded"
                                    data-src="/newmedia/page/img/b829b22fbc2e30bf/paypal.svg" data-lazyload="true">
                              </div>
                              <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--quarter">
                                 <img src="https://www.tchibo.de/newmedia/page/img/bb48022fbc2e30bf/dhl.svg" alt="DHL"
                                    class="c-tp-fleximage c-tp-fleximage--30 h-tp-displayinline js-tp-imagelazy--loaded"
                                    data-src="/newmedia/page/img/bb48022fbc2e30bf/dhl.svg" data-lazyload="true">
                                 <img src="https://www.tchibo.de/newmedia/page/img/bf59b22fbc2e30bf/hermes.svg"
                                    alt="Hermes"
                                    class="c-tp-fleximage c-tp-fleximage--30 h-tp-displayinline js-tp-imagelazy--loaded"
                                    data-src="/newmedia/page/img/bf59b22fbc2e30bf/hermes.svg" data-lazyload="true">
                              </div>
                              <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--quarter">
                              </div>
                              <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--quarter">
                              </div>
                           </div>
                           <div class="m-tp-base-row">
                              <div class="m-tp-base-column--full">
                                 <div class="c-tp-separatorline002"></div>
                              </div>
                           </div>
                           <div class="m-tp-base-row">
                              <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--quarter ">
                                 <i class="c-tp-icon c-tp-icon--150 c-tp-icon--contact"></i>
                                 <div class="c-tp-headline c-tp-headline--60 c-tp-headline--arrow">
                                    <a href="https://www.tchibo.de/faq-s400109201.html">Kundenservice</a>
                                 </div>
                              </div>
                              <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--quarter ">
                                 <i class="c-tp-icon c-tp-icon--150 c-tp-icon--tchibocard"></i>
                                 <div class="c-tp-headline c-tp-headline--60 c-tp-headline--arrow">
                                    <a href="https://www.tchibo.de/tchibocard-c400004472.html">TchiboCard</a>
                                 </div>
                              </div>
                              <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--quarter ">
                                 <i
                                    class="c-tp-icon c-tp-icon--150 c-tp-icon--service-info c-tp-icon--service_info"></i>
                                 <div class="c-tp-headline c-tp-headline--60 c-tp-headline--arrow">
                                    <a href="https://www.tchibo.de/service-und-hilfe-s400006763.html">Weitere
                                       Services</a>
                                 </div>
                              </div>
                              <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--quarter ">
                                 <i class="c-tp-icon c-tp-icon--150 c-tp-icon--meet-tchibo c-tp-icon--meet_tchibo"></i>
                                 <div class="c-tp-headline c-tp-headline--60 c-tp-headline--arrow">
                                    <a target="_blank" href="https://www.tchibo.com/"
                                       data-click-tracking="%7B%22hunter%22%3A%22clickout_null%22%2C%22ga%22%3Anull%7D">Über
                                       Tchibo</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="g-tp-row">
                     <div class="g-tp-column g-tp-column--full">
                        <div class="m-tp-base">
                           <div class="m-tp-base-row">
                              <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--quarter">
                                 <p class="c-tp-copytext">Servicehotline:<br>Tel.: 0800 - 300 01 11
                                    (kostenfrei)<br>07:00 - 22:00 Uhr</p>
                                 <ul class="c-tp-linklist c-tp-linklist--">
                                    <li><a href="https://www.tchibo.de/faq-s400109201.html">Häufige Fragen – FAQ</a>
                                    </li>
                                    <li><a href="https://www.tchibo.de/kontakt-zu-tchibo-c400000156.html">Kontakt</a>
                                    </li>
                                    <li><a
                                          href="https://www.tchibo.de/serviceversprechen-s400106838.html">Serviceversprechen</a>
                                    </li>
                                 </ul>
                              </div>
                              <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--quarter">
                                 <p class="c-tp-copytext">TreueBohnen sammeln und exklusive Vorteile sichern.</p>
                                 <a class="c-tp-textbutton c-tp-textbutton--light"
                                    href="https://www.tchibo.de/tchibocard-c400004472.html"><span
                                       class="c-tp-textbutton-text">Jetzt kostenlos anmelden</span></a>
                              </div>
                              <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--quarter">
                                 <ul class="c-tp-linklist c-tp-linklist--">
                                    <li><a href="/subscribenewsletter"
                                          data-click-tracking="%7B%22hunter%22%3A%22clickout_null%22%2C%22ga%22%3Anull%7D">Newsletter</a>
                                    </li>
                                    <li><a
                                          href="https://www.tchibo.de/tchibo-katalog-online-c400040365.html">Katalog</a>
                                    </li>
                                    <li><a href="https://www.tchibo.de/kaffeelexikon-c400092497.html">Kaffeelexikon</a>
                                    </li>
                                    <li><a
                                          href="https://www.tchibo.de/mobilfunklexikon-c400097257.html">Mobilfunklexikon</a>
                                    </li>
                                    <li><a href="https://www.tchibo.de/geschenkkarte-s400007158.html">Geschenkkarte</a>
                                    </li>
                                    <li><a href="https://www.tchibo.de/geschenkideen-c400033705.html">Geschenkideen</a>
                                    </li>
                                    <li><a
                                          href="https://www.tchibo.de/entsorgung-inhaltsstoffe-s400024405.html">Entsorgung/Inhaltsstoffe</a>
                                    </li>
                                    <li><a
                                          href="https://www.tchibo.de/tchibo-bedienungsanleitungen-hier-einsehen-und-downloaden-s400063150.html">Bedienungsanleitungen</a>
                                    </li>
                                 </ul>
                              </div>
                              <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--quarter">
                                 <ul class="c-tp-linklist c-tp-linklist--">
                                    <li><a target="_blank" href="https://www.tchibo-karriere.de/"
                                          data-click-tracking="%7B%22hunter%22%3A%22clickout_null%22%2C%22ga%22%3Anull%7D">Karriere</a>
                                    </li>
                                    <li><a
                                          href="https://www.tchibo.de/gut-gemacht-nachhaltigkeit-c400059054.html">Nachhaltigkeit</a>
                                    </li>
                                    <li><a
                                          href="https://www.tchibo.de/buero-kaffee-kaffeevollautomaten-c400010085.html">Geschäftskunden</a>
                                    </li>
                                    <li><a href="https://www.tchibo.de/tchibo-partnerprogramm-s400007159.html">Affiliate
                                          Programm</a></li>
                                    <li><a target="_blank"
                                          href="http://www.tchibo.com/content/310328/-/de/newsroom/aktuell-bei-tchibo.html"
                                          data-click-tracking="%7B%22hunter%22%3A%22clickout_null%22%2C%22ga%22%3Anull%7D">Presse</a>
                                    </li>
                                    <li><a target="_blank" href="https://community.tchibo.de/de-DE/start "
                                          data-click-tracking="%7B%22hunter%22%3A%22clickout_null%22%2C%22ga%22%3Anull%7D">Tchibo
                                          Community</a></li>
                                    <li><a target="_blank" href="http://blog.tchibo.com/"
                                          data-click-tracking="%7B%22hunter%22%3A%22clickout_null%22%2C%22ga%22%3Anull%7D">Tchibo
                                          Blog</a></li>
                                    <li><a href="https://www.tchibo.de/tipps-inspirationen-ideen-c400062531.html">Tchibo
                                          Life Online Magazin</a></li>
                                    <li><a href="https://www.tchibo.de/tchibo-trends-c400115657.html">Tchibo Trends</a>
                                    </li>
                                    <li><a href="https://www.tchibo.de/gruener-knopf-siegel-c400108579.html">Grüner
                                          Knopf – Produkte von Tchibo</a></li>
                                    <li><a
                                          href="https://www.tchibo.de/5-tassen-taeglich-der-tchibo-podcast-c400112299.html">5
                                          Tassen täglich – der Tchibo Podcast</a></li>
                                 </ul>
                              </div>
                           </div>
                           <div class="m-tp-base-row">
                              <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--quarter">
                              </div>
                              <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--quarter">
                              </div>
                              <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--quarter">
                              </div>
                              <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--quarter">
                              </div>
                           </div>
                           <div class="m-tp-base-row">
                              <div class="m-tp-base-column--full">
                                 <div class="c-tp-separatorline002"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="g-tp-row">
                     <div class="g-tp-column g-tp-column--full">
                        <div class="m-tp-base">
                           <div class="m-tp-base-row">
                              <div class="m-tp-base-column m-tp-base-column--full">
                                 <div class="c-tp-separatorline002"></div>
                              </div>
                           </div>
                        </div>
                        <div class="m-tp-base">
                           <div class="m-tp-base-row">
                              <div
                                 class="m-tp-base-column m-tp-base-column--leftaligned m-tp-base-column--first m-tp-base-column--full">
                                 <p class="c-tp-headline c-tp-headline--60">Unsere beliebtesten Kategorien</p>
                              </div>
                           </div>
                           <div class="m-tp-base-row">
                              <div class="m-tp-base-column m-tp-base-column--first m-tp-base-column--quarter">
                                 <ul class="c-tp-linklist c-tp-linklist--">
                                    <li><a href="https://www.tchibo.de/damen-c400048185.html">Damenmode</a></li>
                                    <li><a href="https://www.tchibo.de/damenuhren-c400060228.html">Damenuhren</a></li>
                                    <li></li>
                                    <li></li>
                                    <li><a href="/sportbekleidung-damen-c400059147/hosen-k265"
                                          data-click-tracking="%7B%22hunter%22%3A%22clickout_null%22%2C%22ga%22%3Anull%7D">Damensporthosen</a>
                                    </li>
                                 </ul>
                              </div>
                              <div class="m-tp-base-column m-tp-base-column--quarter">
                                 <ul class="c-tp-linklist c-tp-linklist--">
                                    <li><a
                                          href="https://www.tchibo.de/damen-blusen-tuniken-c400048208.html">Damenblusen</a>
                                    </li>
                                    <li></li>
                                    <li><a
                                          href="https://www.tchibo.de/unterwaesche-damen-c400067245.html">Damenunterwäsche</a>
                                    </li>
                                    <li><a href="https://www.tchibo.de/damenhosen-c400048209.html">Damenhosen</a></li>
                                    <li><a href="https://www.tchibo.de/damenschuhe-c400048210.html">Damenschuhe</a></li>
                                 </ul>
                              </div>
                              <div class="m-tp-base-column m-tp-base-column--quarter">
                                 <ul class="c-tp-linklist c-tp-linklist--">
                                    <li><a
                                          href="https://www.tchibo.de/herren-pullover-sweatshirts-c400077248.html">Herrenpullover</a>
                                    </li>
                                    <li></li>
                                    <li><a
                                          href="https://www.tchibo.de/herren-unterwaesche-c400067305.html">Herrenunterwäsche</a>
                                    </li>
                                    <li><a href="https://www.tchibo.de/kindermode-c400048245.html">Kinderkleidung</a>
                                    </li>
                                    <li><a href="https://www.tchibo.de/babymode-c400048246.html">Babykleidung</a></li>
                                 </ul>
                              </div>
                              <div class="m-tp-base-column m-tp-base-column--quarter">
                                 <ul class="c-tp-linklist c-tp-linklist--">
                                    <li><a
                                          href="https://www.tchibo.de/kaffeemaschinen-c400004313.html">Kaffeemaschinen</a>
                                    </li>
                                    <li><a
                                          href="https://www.tchibo.de/reisen-koffer-accessoires-c402000880.html">Koffer</a>
                                    </li>
                                    <li><a href="https://www.tchibo.de/bettwaesche-c400060291.html">Bettwäsche</a></li>
                                    <li><a
                                          href="https://www.tchibo.de/sportgeraete-ausruestung-c400048256.html">Sportgeräte</a>
                                    </li>
                                    <li><a href="https://www.tchibo.de/gartenmoebel-c400110063.html">Balkonmöbel</a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="l-tp-footer-quality">
               <div class="l-tp-footer-content">
                  <div class="g-tp-row">
                     <div class="g-tp-column g-tp-column--full">
                        <div class="m-tp-base">
                           <div class="m-tp-base-row">
                              <div
                                 class="m-tp-base-column m-tp-base-column--leftaligned m-tp-base-column--first m-tp-base-column--full">
                                 <p class="c-tp-headline c-tp-headline--60">Qualitätsversprechen</p>
                                 <a class="l-tp-footer-quality-link" title="bvh" target="_blank" rel="nofollow"
                                    href="https://zertifikat.ehi-siegel.de/de/zertifikat/s/223c2267f1e539152ee91657460b431c/"
                                    data-click-tracking="%7B%22hunter%22%3A%22clickout_null%22%2C%22ga%22%3Anull%7D">
                                    <img src="https://www.tchibo.de/newmedia/page/img/baf8022fbc2e30bf/bevh_siegel.jpg"
                                       alt="" height="55" width="135"
                                       data-src="/newmedia/page/img/baf8022fbc2e30bf/bevh_siegel.jpg"
                                       data-lazyload="true" class=" js-tp-imagelazy--loaded">
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="l-tp-footer-content l-tp-footer-content--last">
               <div class="g-tp-row">
                  <div class="g-tp-column g-tp-column--full">
                     <ul class="m-legallinks">
                        <li class="m-legallinks-item"><a class="m-legallinks-link"
                              href="https://www.tchibo.de/impressum-c400001300.html">Impressum</a></li>
                        <li class="m-legallinks-item"><a class="m-legallinks-link"
                              href="https://www.tchibo.de/datenschutz-s400007324.html">Datenschutz und Sicherheit</a>
                        </li>
                        <li class="m-legallinks-item"><a class="m-legallinks-link"
                              href="https://www.tchibo.de/agb-s400007325.html">Widerrufsrecht</a></li>
                        <li class="m-legallinks-item"><a class="m-legallinks-link"
                              href="https://www.tchibo.de/agb-s400007325.html">AGB</a></li>
                     </ul>
                     <div class="c-tp-copytext c-tp-copytext--50">Alle Preise verstehen sich inkl. gesetzlicher
                        Mehrwertsteuer und zzgl.
                        <a href="https://www.tchibo.de/versandkosten-s400063126.html">Versandkosten</a>
                        .
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <div class="shadow" >
      <div class="message">
         Hackaton 2021 DEMO
      </div>
   </div>
</footer>